.event-heading {
    text-align: left;
}

.oneevent-body {
    padding: 20px;
    width: 80%;
    margin: 0px auto;
}

.bread-crumb {
    font-size: 14pt;
    padding: 10px;
    margin-left: 0px;
}

.bread-crumb a {
    color: black;
}

.section1-left-image img {
    display: flex;
    text-align: left;
    width: 500px;
    max-height: 500px;
    height: auto;
    margin: 0px auto;
    border: 1px solid gray;

}

.start {
    padding-left: 70px;

}



.event-details-section1 {
    display: flex;
    /* flex-wrap: wrap; */
}

.top-side {
    display: flex;
    flex-direction: row;
}

.section1-card img {
    margin-right: 40px;
    border-radius: 5px;
}

.columncard {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: left;
    padding-left: 30px;

}

.section1-topright,
.section1-bottomright {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
}

.start {
    line-height: 10px;
    padding-bottom: 10px;
}

.section1-topright img {
    width: 200px;
    height: 150px;
}

.section1-bottomright {
    display: flex;
    flex-direction: column;
    line-height: ;
    left: 0px;
}

.section1-card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 30px;

}

.delete-modal-events button {
    background-color: darkgray;
    border: 1px solid black;
    padding: 5px;
    font-size: 12pt;
    border-radius: 5px;
}

.eventtype {
    padding-right: 100px;
}

.section1-right {
    display: flex;
    flex-direction: column;
    width: 40%;

    /* justify-content: space-between; */
}

#dollar,
#dot {
    margin-right: 80px;
}

#clock,
#dollar,
#dot {
    font-size: 30px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.time {
    display: flex;
    flex-direction: row;
}

.time-details {
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
}

.time-details span {
    display: flex;
    flex-direction: column;
}

.event-detail-section3 {
    margin-top: 1rem;
}
