 /* .group-detail.body {
   padding: 10px;
 } */

 .return-groups {
   padding-left: 10px;
   font-size: 14pt;
 }

 .group-groups-link a {
   text-decoration: underline;
 }

 .groupcontainer-card {
   display: flex;
   flex-wrap: nowrap;
   /* justify-content: space-between; */
   flex-direction: row;
   width: 75%;
   margin: 0% auto;
   gap: 2rem;
   margin-top: 2rem;
 }

 .groupcontainer-card img {
   width: 40%;
   height: 400px;
 }

 .section1-left-image {
  display: flex;
  flex-direction: row;
  align-items: center;
 }

 .group-groups-link {
   /* position: relative; */
   top: 0;
   left: 0;
   color: #000;
   padding-left: 10px;
   font-size: 14pt;
 }

 .organizer-name {
  padding-bottom: 100px;
 }

 .group-name-right h1 {
   margin: 0;
   margin-bottom: 0.5rem;
   width: 200px;
 }

 .location {
   font-size: 1rem;
   color: #777;
   margin-bottom: 1rem;
 }

 .join-group-button {
   padding: 10px 15px;
   background-color: #f44a4a;
   color: #fff;
   border: none;
   cursor: pointer;
   text-align: center;
 }
 .org {
  font-size: 14pt;
 }
 .location {
  padding: 10px 0 10px 0;
  margin-bottom: 0px;
 }

 .group-detail-section3 {
   padding: 0px 0px 0px 15px;
   width: 75%;
   margin: 0px auto;
 }

 .group-details-section2,
 .group-detail-section3,
 .group-detail-section4 {
   margin-top: 2rem;
 }

 .group-details-section2 h1,
 .group-detail-section3 h1,
 .group-detail-section4 h2 {
   margin-bottom: 1rem;
 }

 .group-details-section2 h2 {
   font-size: 1.2rem;
   margin: 0;
 }

 .groups-create-event-link {
   margin-right: 1rem;
   text-decoration: none;
   color: #000;
 }

 .group-detail-section4 {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
 }

 .event-card-groups {
   display: flex;
   flex-direction: row;
   flex: wrap;
   border-bottom: 3px solid #ccc;
   height: max-content;
   width: 600px;
   /* margin: 0 auto; */
   justify-content: left;
   align-items: center;
   padding: 30px 0px;
 }


 .group-detail-section4 a {
   text-decoration: none;
   color: black;
 }

 .event-card-groups img {
   display: flex;
   flex-direction: row;
   justify-content: left;
   width: 40%;
   height: 175px;
   /* object-fit: cover; */
   /* padding-right: 20px; */
   border-radius: 10px;

 }

 .groups-create-event-link,
 .section1-right-bottom button {
   background-color: darkgray;
   border: 1px solid black;
   padding: 5px;
   font-size: 12pt;
   border-radius: 5px;
 }


 .events-group {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   gap: 2rem;
   margin-top: 2rem;
 }

 .join-group-button-disabled {
   padding: 10px 15px;
   background-color: lightgray;
   color: #fff;
   border: none;
   pointer-events: none;
   text-align: center;
 }

 .event-info {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   width: 55%;
   padding-left: 20px;
 }

 .group-detail-section1 {
  width: 50%;
  flex-direction: column;
  /* fle */
 }
