.groups-event-link,
.groups-groups-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: #007bff;
    margin-right: 15px;
}

.events-groups-link:hover,
.events-events-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.event-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    margin-top: 2rem;
}

.event-card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    height: max-content;
    border-radius: 6px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
}

.landing-page-section3-link {
    display: flex;
}

.event-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.events-section1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.events-number {
    margin-right: 20px
}

.event-card img {
    width: 50%;
    height: fit-content;
    object-fit: cover;
    border-radius: 4px;
    padding-right: 20px;
}

.landing-page-section3-link {
    text-decoration: none;
    color: inherit;
}
