body {
    display: block;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
    margin: 0 auto;
    width: 100%;
}

.nav-ul {
    width: 100%;
}

.events-groups-link {
    font-size: 24pt;
    text-decoration: none;
    color: lightgray;
    font-weight: normal;
    margin-left: 60px;
}

.events-groups-link:hover {
    text-decoration: underline;
}

.events-events-link {
    font-size: 24pt;
    text-decoration: none;
    color: #00525E;
    text-decoration: underline;
    font-weight: normal;
    pointer-events: none;
}

.events-section1-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: left;
}

.section1 h2 {
    font-size: 18pt;
    padding: 5px 0px 10px 0px;
}

.section1 {
    position: sticky;
    top: 70px;
    z-index: 999;
    /* Add this property to ensure it stays below the navigation bar */
    background-color: white;
    width: 100%;
    border-bottom: 3px solid #ccc;
}

.event-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    margin-top: 2rem;
}

.event-card {
    display: flex;
    flex-direction: column;
    flex: wrap;
    border-bottom: 3px solid #ccc;
    height: max-content;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    padding: 30px 0px 20px 0px;
}

/* .event-summary {
    display: flex;
    flex-direction: column;
    max-width: 50%;
} */

/* .event-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */

.events-section2-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section2-link {
    text-decoration: none;
    color: black;
}

.event-summary {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 55%;
    padding-left: 20px;
}

.event-name {
    font-size: 20pt;
}

.event-location {
    font-size: 14pt;
}

.date-time {
    font-size: 14pt;
    color: #00525E;
}

.event-about {
    padding-top: 20px;
    /* text-align: center; */
}

.event-card img {
    display: flex;
    justify-content: left;
    width: 40%;
    height: 180px;
    /* object-fit: cover; */
    /* padding-right: 20px; */
    border-radius: 10px;

}

.class-about {
    width: 100%;
}
