/* Set the background color of the body to a light gray */
body {
    background-color: #f5f5f5;
}

/* Center the content on the page */
.landing-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

/* Style the title in the first section */
.landing-page-section1 h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Style the text in the first section */
.landing-page-section1 p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
}

/* Style the infographic in the first section */
.landing-page-section1 img {
    max-width: 400px;
    margin-left: 20px;
}

/* Style the subtitle in the second section */
.landing-page-section2 h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

/* Style the columns in the third section */
.landing-page-section3-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}

/* Style the links in the third section */
.landing-page-section3 a {
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.landing-page-section3 a:hover {
    background-color: #000000;
    color: #ffffff;
}

/* Style the "Start a group" link in the third section when the user is not logged in */
.landing-page-section3-link-disabled {
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: lightgray;
    background-color: #ffffff;
    border: 2px solid lightgrey;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
}

/* Style the "Join Meetup" button in the fourth section */
.join-beat-up button{
    display: block;
    margin: 0 auto;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color:#00525E;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.landing-page-section4 button:hover {
    background-color: #ffffff;
    color: #000000;
}
