.profile-dropdown {
    position: fixed;
    top: 40px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    list-style: none;
}

.hidden {
    display: none;
}
